.Table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #000;
  border-collapse: collapse;

  th,
  td {
    white-space: nowrap;
    padding: 6px 12px;
    border: 1px solid #000;
  }
}

.Table1 {
  .Col2 {
    width: 100px;
  }

  .Col3 {
    width: 80px;
  }

  .Col4 {
    width: 60px;
  }

  tbody {
    td {
      &.Td1 {
        max-width: 0; // this column will take the remaining width
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.Td4 {
        max-width: 100px; // this column will take 100px
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.Table2 {
  tbody {
    td {
      &.Td1 {
        width: 100%;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
