@mixin spacing($spaceUnit, $levels) {
  $map: (
    x: left right,
    y: top bottom,
    l: left,
    r: right,
    t: top,
    b: bottom,
  );

  @for $i from 0 through $levels {
    $space: $i * $spaceUnit;

    .m-#{$i} {
      margin: $space;
    }

    @each $key, $values in $map {
      .m#{$key}-#{$i} {
        @each $value in $values {
          margin-#{$value}: $space;
        }
      }
    }
  }
}

@include spacing(4px, 20);
