@mixin spacing($spaceUnit, $levels) {
  @for $i from 0 through $levels {
    $space: $i * $spaceUnit;

    .m-#{$i} {
      margin: $space;
    }

    .mx-#{$i} {
      margin-left: $space;
      margin-right: $space;
    }

    .my-#{$i} {
      margin-top: $space;
      margin-bottom: $space;
    }

    .ml-#{$i} {
      margin-left: $space;
    }

    .mr-#{$i} {
      margin-left: $space;
    }

    .mt-#{$i} {
      margin-top: $space;
    }

    .mb-#{$i} {
      margin-bottom: $space;
    }
  }
}

@include spacing(4px, 20);
