@import '../common/ButtonBase.module.scss';

.FileInput {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  padding: 6px;
  background-color: #fff;
  border: 1px solid rgb(122, 122, 122);

  &.dragging {
    background-color: rgb(248, 248, 248);
    border-color: rgb(27, 27, 27);
    border-style: dotted;
  }

  .Input {
    &.displayNone {
      display: none;
    }

    &.visuallyHidden {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
    }
  }

  .Button {
    @extend .ButtonBase;
    padding: 6px 12px;
  }

  .Filename {
    flex: 1;
    font-size: 14px;
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ImagePreview {
  max-width: 100%;
  margin-top: 8px;

  .Image {
    max-width: 100%;
    padding: 12px;
    border: 1px solid rgb(122, 122, 122);
    box-sizing: border-box;
  }

  .Error {
    color: rgb(255, 54, 54);
  }
}

.PdfPreview {
  max-width: 100%;
  margin-top: 8px;

  .Pdf {
    max-width: 100%;
    padding: 12px;
    border: 1px solid rgb(122, 122, 122);
    box-sizing: border-box;
  }
}
