.StyleEditor {
  display: block;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: bold;
  color: #ecffca;
  background-color: black;
  white-space: pre;
  caret-color: aquamarine;
}
