.Container {
  margin-top: 32px;

  .Title {
    font-size: 18px;
    font-weight: bold;
  }

  .Content {
    margin-top: 20px;
  }

  .Questions {
    margin-top: 32px;

    h3 {
      font-size: 16px;
      font-weight: bold;
      text-decoration: underline;
    }

    details {
      summary {
        margin-top: 20px;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }

    code {
      font-family: 'Courier New', Courier, monospace;
      font-size: 14px;
      font-weight: 600;
      color: rgb(219, 104, 27);
    }

    .Question {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      font-weight: 500;

      .Index {
        margin-right: 12px;
      }
    }

    .Answer {
      margin-top: 20px;
      padding: 0;
      font-size: 14px;
      background-color: #fbfbfb;
      border: 1px solid #d0d0d0;
      border-radius: 6px;

      p {
        padding: 0 20px;
      }

      img {
        max-width: 100%;
      }
    }

    .References {
      h4 {
        margin: 20px 0 0 0;
        font-size: 14px;
        font-weight: bold;
      }

      ol {
        font-size: 12px;
      }

      li {
        margin-bottom: 6px;
      }
    }
  }
}
