$colorPrimary: rgb(235, 65, 43);
$colorSecondary: #fff;
$dimension: 80px;
$cos18deg: 0.9510565162951535;
$cos30deg: 0.8660254037844386;
$cos36deg: 0.8090169943749475;
$cos45deg: 0.7071067811865476;
$cos54deg: 0.5877852522924731;
$sin18deg: 0.3090169943749474;
$sin36deg: 0.5877852522924731;
$tan20deg: 0.36397023426620234;
$tan36deg: 0.7265425280053608;
$sqrt5: 2.23606797749979;

.ShapeContainer {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
}

.Title {
  margin: 0 0 16px;
  font-size: 24px;
  font-weight: bold;
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@mixin rotateAnimation {
  animation: rotateClockwise 5s linear infinite;
  opacity: 0.8;
}

@mixin shape($color) {
  display: inline-block;
  background-color: $color;
}

@mixin emptyShape {
  width: 0;
  height: 0;
  background-color: transparent;
}

@mixin rectangle($width, $height, $color) {
  @include shape($color);
  width: $width;
  height: $height;
}

@mixin square($sideDimension, $color) {
  @include rectangle($sideDimension, $sideDimension, $color);
}

@mixin oval($width, $height, $color) {
  @include rectangle($width, $height, $color);
  border-radius: 100%;
}

@mixin circle($diameter, $color) {
  @include oval($diameter, $diameter, $color);
}

@mixin isoscelesTriangle($height, $width, $apex, $color) {
  $adjacentSides: (
    top: left right,
    bottom: left right,
    left: top bottom,
    right: top bottom,
  );
  @include emptyShape();
  border-#{$apex}: $height solid $color;
  @each $side in map-get($map: $adjacentSides, $key: $apex) {
    border-#{$side}: $width/2 solid transparent;
  }
}

@mixin equilateralTriangle($height, $apex, $color) {
  $width: $height / $cos30deg;
  @include isoscelesTriangle($height, $width, $apex, $color);
}

@mixin rightAngledTriangle($height, $shownSide, $hiddenSide, $color) {
  @include emptyShape();
  border-#{$shownSide}: $height solid $color;
  border-#{$hiddenSide}: $height solid transparent;
}

@mixin trapezoid($upperWidth, $lowerWidth, $height, $color) {
  $borderWidth: abs(
      $number: $upperWidth - $lowerWidth,
    ) / 2;
  @include shape($color);
  @if $upperWidth < $lowerWidth {
    width: $upperWidth;
    border-bottom: $height solid $color;
  } @else {
    width: $lowerWidth;
    border-top: $height solid $color;
  }
  background-color: transparent;
  border-left: $borderWidth solid transparent;
  border-right: $borderWidth solid transparent;
}

@mixin parallelogram($width, $height, $color) {
  @include emptyShape();
  $skewWidth: ($height * $tan20deg) / 2;
  position: relative;
  margin: 0 $width + $skewWidth $height $skewWidth;
  transform-origin: $width / 2 $height / 2;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: $width;
    height: $height;
    background-color: $color;
    transform: skew(-20deg);
  }
}

@mixin sixPointsStar($sideDimension, $color) {
  $height: $sideDimension * $cos30deg;
  $radius: $sideDimension / $cos30deg / 2;
  position: relative;
  margin-bottom: $height / 3;
  @include equilateralTriangle($height, bottom, $color);
  transform-origin: 50% $radius;

  &::after {
    content: '';
    position: absolute;
    top: $height / 3;
    left: -$sideDimension / 2;
    @include equilateralTriangle($height, top, $color);
  }
}

@mixin fivePointsStar($sideDimension, $color) {
  $upperThird: $sideDimension * $tan36deg / 2;
  $middleThird: $upperThird;
  $lowerThird: $sideDimension * $cos18deg - $middleThird - $upperThird;
  $radius: $sideDimension / $sin36deg / 2;
  position: relative;
  margin: $upperThird 0 $lowerThird;
  @include isoscelesTriangle($middleThird, $sideDimension, top, $color);
  transform-origin: 50% $radius - ($upperThird + $middleThird);

  &::before,
  &::after {
    top: -$middleThird - $upperThird;
    content: '';
    position: absolute;
  }

  &::before {
    left: 0;
    @include isoscelesTriangle($middleThird, $sideDimension, left, $color);
    transform: rotate(18deg);
    transform-origin: 0 0;
  }

  &::after {
    left: -$middleThird;
    @include isoscelesTriangle($middleThird, $sideDimension, right, $color);
    transform: rotate(-18deg);
    transform-origin: 100% 0;
  }
}

@mixin pentagon($sideDimension, $color) {
  $width: $sideDimension + 2 * $sideDimension * $sin18deg;
  $height: $sideDimension * $cos18deg;
  $top: $sideDimension * $sin36deg;
  $radius: $sideDimension / 2 / $sin36deg;
  position: relative;
  margin-bottom: $height;
  @include isoscelesTriangle($top, $width, bottom, $color);
  transform-origin: 50% $radius;

  &::after {
    content: '';
    position: absolute;
    top: $top;
    left: -$width / 2;
    @include trapezoid($width, $sideDimension, $height, $color);
  }
}

@mixin hexagon($sideDimension, $color) {
  $width: $sideDimension * $cos30deg * 2;
  position: relative;
  margin: $sideDimension / 2 0;
  @include rectangle($width, $sideDimension, $color);

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    top: -$sideDimension/2;
    @include isoscelesTriangle($sideDimension / 2, $width, bottom, $color);
  }

  &::after {
    top: $sideDimension;
    @include isoscelesTriangle($sideDimension / 2, $width, top, $color);
  }
}

@mixin octagon($sideDimension, $color) {
  $sideBorder: $sideDimension * $cos45deg;
  $width: $sideDimension + 2 * $sideBorder;
  position: relative;
  margin: $sideBorder 0;
  @include rectangle($width, $sideDimension, $color);

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    top: -$sideBorder;
    @include trapezoid($sideDimension, $width, $sideBorder, $color);
  }

  &::after {
    top: $sideDimension;
    @include trapezoid($width, $sideDimension, $sideBorder, $color);
  }
}

@mixin diamondSquare($sideDimension, $color) {
  $width: $sideDimension / $cos45deg;
  @include emptyShape();
  position: relative;
  margin: ($width - $sideDimension) / 2 ($width + $sideDimension) / 2
    ($width + $sideDimension) / 2 ($width - $sideDimension) / 2;
  transform-origin: $sideDimension / 2 $sideDimension / 2;

  &::after {
    content: '';
    position: absolute;
    @include square($sideDimension, $color);
    transform: rotate(45deg);
  }
}

@mixin diamondShield($height, $color) {
  $width: $height * 4/5 / $cos30deg;
  position: relative;
  margin-bottom: $height * 4/5;
  @include isoscelesTriangle($height/5, $width, bottom, $color);
  transform-origin: 50% $height / 2;

  &::after {
    content: '';
    position: absolute;
    left: -$width / 2;
    top: $height/5;
    @include isoscelesTriangle($height * 4/5, $width, top, $color);
  }
}

@mixin diamondNarrow($sideDimension, $color) {
  $height: $sideDimension * $cos30deg;
  position: relative;
  margin-bottom: $height;
  @include equilateralTriangle($height, bottom, $color);
  transform-origin: 50% $height;

  &::after {
    content: '';
    position: absolute;
    top: $height;
    left: -$sideDimension / 2;
    @include equilateralTriangle($height, top, $color);
  }
}

@mixin cutDiamond($sideDimension, $color) {
  $lowerHeight: $sideDimension * $cos30deg;
  $upperHeight: $lowerHeight / 3.2;
  $upperWidth: $sideDimension * 2 / 3;
  position: relative;
  margin-bottom: $lowerHeight;
  @include trapezoid($upperWidth, $sideDimension, $upperHeight, $color);
  transform-origin: 50% ($upperHeight + $lowerHeight) / 2;

  &::after {
    content: '';
    position: absolute;
    top: $upperHeight;
    left: ($upperWidth - $sideDimension) / 2;
    @include equilateralTriangle($lowerHeight, top, $color);
  }
}

@mixin egg($height, $isUpward, $color) {
  $width: $height * 0.8;
  @include shape($color);
  width: $width;
  height: $height;
  @if $isUpward {
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  } @else {
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
  }
}

@mixin pacman($diameter, $direction, $color) {
  @include emptyShape();
  border: $diameter / 2 solid $color;
  border-#{$direction}-color: transparent;
  border-radius: 50%;
}

@mixin talkBubble($width, $height, $color) {
  $arrowHeight: 20px;
  $borderRadius: 12px;
  position: relative;
  @include shape($color);
  width: $width;
  height: $height;
  border-radius: $borderRadius;

  &::after {
    content: '';
    position: absolute;
    top: $height;
    right: $borderRadius * 1.5;
    @include equilateralTriangle($arrowHeight, top, $color);
  }
}

@mixin twelvePointsBurst($sideDimension, $color) {
  $margin: $sideDimension * $sqrt5 / (3 + $sqrt5) / 2;
  position: relative;
  margin: $margin;
  @include square($sideDimension, $color);

  &::before,
  &::after {
    content: '';
    position: absolute;
    @include square($sideDimension, $color);
  }

  &::before {
    transform: rotate(-30deg);
  }

  &::after {
    transform: rotate(30deg);
  }
}

@mixin eightPointsBurst($sideDimension, $color) {
  $margin: $sideDimension / (2 + 2 / $cos45deg);
  position: relative;
  margin: $margin;
  @include square($sideDimension, $color);

  &::after {
    content: '';
    position: absolute;
    @include square($sideDimension, $color);
    transform: rotate(45deg);
  }
}

@mixin yinYang($diameter, $color1, $color2) {
  $borderWidth: 2px;
  $innerDiameter: $diameter / 6;
  $innerBorderWidth: ($diameter - 2 * $borderWidth - $innerDiameter) / 4;
  $top: ($diameter - ($innerDiameter + 2 * $innerBorderWidth)) / 2;
  @include shape($color1);
  position: relative;
  width: $diameter;
  height: $diameter / 2;
  background-color: $color2;
  border: $borderWidth solid $color1;
  border-bottom-width: $diameter / 2 + $borderWidth;
  border-radius: 50%;
  box-sizing: content-box;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    @include circle($innerDiameter, $color1);
    top: $top;
    left: 0;
    border: $innerBorderWidth solid $color2;
  }

  &::after {
    @include circle($innerDiameter, $color2);
    top: 0;
    right: 2px;
    border: $innerBorderWidth solid $color1;
  }
}

.rectangle {
  @include rotateAnimation();
  @include rectangle($dimension * 1.4, $dimension, $colorPrimary);
}

.square {
  @include rotateAnimation();
  @include square($dimension, $colorPrimary);
}

.oval {
  @include rotateAnimation();
  @include oval($dimension * 1.6, $dimension, $colorPrimary);
}

.circle {
  @include rotateAnimation();
  @include circle($dimension, $colorPrimary);
}

.triangleUp {
  @include equilateralTriangle($dimension, bottom, $colorPrimary);
}

.triangleDown {
  @include equilateralTriangle($dimension, top, $colorPrimary);
}

.triangleLeft {
  @include equilateralTriangle($dimension, right, $colorPrimary);
}

.triangleRight {
  @include equilateralTriangle($dimension, left, $colorPrimary);
}

.triangleTopLeft {
  @include rightAngledTriangle($dimension, top, right, $colorPrimary);
}

.triangleTopRight {
  @include rightAngledTriangle($dimension, top, left, $colorPrimary);
}

.triangleBottomLeft {
  @include rightAngledTriangle($dimension, bottom, right, $colorPrimary);
}

.triangleBottomRight {
  @include rightAngledTriangle($dimension, bottom, left, $colorPrimary);
}

.curvedTailArrow {
  @include emptyShape();
  margin-left: $dimension;
  border-right: $dimension solid $colorPrimary;
  border-top: $dimension solid transparent;
  transform: rotate(12deg);

  &::after {
    content: '';
    position: absolute;
    width: $dimension;
    height: $dimension;
    left: -$dimension * 0.7;
    top: -$dimension * 1.2;
    background: transparent;
    border: 0 solid transparent;
    border-top: $dimension * 0.4 solid $colorPrimary;
    border-radius: 100% 0 0 0;
    transform: rotate(45deg);
  }
}

.trapezoid {
  @include rotateAnimation();
  @include trapezoid($dimension, $dimension * 1.4, $dimension, $colorPrimary);
}

.parallelogram {
  @include rotateAnimation();
  @include parallelogram($dimension, $dimension, $colorPrimary);
}

.sixPointsStar {
  @include rotateAnimation();
  @include sixPointsStar($dimension, $colorPrimary);
}

.fivePointsStar {
  @include rotateAnimation();
  @include fivePointsStar($dimension, $colorPrimary);
}

.pentagon {
  @include rotateAnimation();
  @include pentagon($dimension, $colorPrimary);
}

.hexagon {
  @include rotateAnimation();
  @include hexagon($dimension, $colorPrimary);
}

.octagon {
  @include rotateAnimation();
  @include octagon($dimension, $colorPrimary);
}

.heart {
  position: relative;
  margin: $dimension * 0.0375 $dimension * 1.25 $dimension * 1.0375 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: $dimension * 5/8;
    height: $dimension;
    top: 0;
    background-color: $colorPrimary;
    border-radius: $dimension * 5/8 $dimension * 5/8 0 0;
  }

  &::before {
    left: $dimension * 5/8;
    transform-origin: 0 100%;
    transform: rotate(-45deg);
  }

  &::after {
    left: 0;
    transform-origin: 100% 100%;
    transform: rotate(45deg);
  }
}

.infinity {
  position: relative;
  margin: 0 $dimension * 3.6 $dimension * 5/3 0;
  background-color: transparent;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: $dimension;
    height: $dimension;
    border: $dimension/3 solid $colorPrimary;
    transform: rotate(-45deg);
  }

  &::before {
    left: 0;
    border-radius: 100% 100% 0;
  }

  &::after {
    left: $dimension * 1.9;
    border-radius: 0 100% 100%;
  }
}

.diamondSquare {
  @include rotateAnimation();
  @include diamondSquare($dimension, $colorPrimary);
}

.diamondShield {
  @include rotateAnimation();
  @include diamondShield($dimension, $colorPrimary);
}

.diamondNarrow {
  @include rotateAnimation();
  @include diamondNarrow($dimension, $colorPrimary);
}

.cutDiamond {
  @include rotateAnimation();
  @include cutDiamond($dimension, $colorPrimary);
}

.egg {
  @include rotateAnimation();
  @include egg($dimension, true, $colorPrimary);
}

.pacman {
  @include rotateAnimation();
  @include pacman($dimension, right, $colorPrimary);
}

.talkBubble {
  @include rotateAnimation();
  @include talkBubble($dimension * 1.4, $dimension, $colorPrimary);
}

.twelvePointsBurst {
  @include rotateAnimation();
  @include twelvePointsBurst($dimension, $colorPrimary);
}

.eightPointsBurst {
  @include rotateAnimation();
  @include eightPointsBurst($dimension, $colorPrimary);
}

.yinYang {
  // @include rotateAnimation();
  @include yinYang($dimension, $colorPrimary, $colorSecondary);
}
