.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.Section {
  max-width: 640px;
  margin: 0 auto 20px;
  padding: 20px;
  border: 1px solid lightgray;
}

.SectionImage {
  width: 280px;
  margin: 12px 0;
}

.SectionText {
  margin: 0;
  padding: 0;
  text-align: justify;
}

.left {
  float: left;
  margin-right: 20px;
}

.right {
  float: right;
  margin-left: 20px;
}

.none {
  shape-outside: none;
  clip-path: none;
}

.inset1 {
  $inset1: inset(40px 60px 0 0);
  shape-outside: $inset1;
  clip-path: $inset1;
}

.inset2 {
  $inset2: inset(40px 0 0 60px round 24px 6px 80px 48px);
  shape-outside: $inset2;
  clip-path: $inset2;
}

.circle1 {
  $circle1: circle(140px);
  shape-outside: $circle1;
  clip-path: $circle1;
}

.circle2 {
  shape-outside: circle(162px at 180px 40px);
  clip-path: circle(152px at 160px 28px);
}

.ellipse1 {
  $ellipse1: ellipse(140px 90px);
  shape-outside: $ellipse1;
  clip-path: $ellipse1;
}

.ellipse2 {
  shape-outside: ellipse(192px 124px at 200px 56px);
  clip-path: ellipse(180px 120px at 180px 44px);
}

.polygon1 {
  $polygon1: polygon(50% 0%, 98% 35%, 79% 91%, 21% 91%, 2% 35%);
  shape-outside: $polygon1;
  clip-path: $polygon1;
}

.polygon2 {
  $polygon2: polygon(evenodd, 50% 0%, 79% 91%, 2% 35%, 98% 35%, 21% 91%);
  shape-outside: $polygon2;
  clip-path: $polygon2;
}

.url1 {
  shape-outside: url(./2.png);
  clip-path: url(#myClip);
}

.transition {
  $polygon-normal: polygon(50% 0, 100% 100%, 0 100%);
  shape-outside: $polygon-normal;
  clip-path: $polygon-normal;
  transition: 1s ease all;

  &:hover {
    $polygon-hover: polygon(100% 0, 50% 100%, 0 0);
    shape-outside: $polygon-hover;
    clip-path: $polygon-hover;
  }
}

@keyframes clip {
  0% {
    $polygon: polygon(
      100% 50%,
      84.70057014808336% 54.5684167277018%,
      91.0518476172854% 60.99980941685713%,
      82.33578363789503% 63.39392013277814%,
      93.30127018922194% 75%,
      77.76736691019323% 71.30665001530522%,
      80.05203820042827% 80.05203820042827%,
      71.30665001530522% 77.76736691019323%,
      75% 93.30127018922192%,
      63.39392013277814% 82.33578363789503%,
      60.99980941685714% 91.0518476172854%,
      54.56841672770181% 84.70057014808336%,
      50% 100%,
      45.4315832722982% 84.70057014808336%,
      39.000190583142874% 91.0518476172854%,
      36.606079867221865% 82.33578363789505%,
      25.00000000000001% 93.30127018922194%,
      28.693349984694787% 77.76736691019323%,
      19.947961799571733% 80.05203820042827%,
      22.23263308980677% 71.30665001530522%,
      6.698729810778076% 75.00000000000001%,
      17.664216362104966% 63.39392013277815%,
      8.948152382714603% 60.99980941685715%,
      15.299429851916635% 54.568416727701816%,
      0% 50.00000000000001%,
      15.299429851916635% 45.431583272298205%,
      8.94815238271459% 39.00019058314288%,
      17.66421636210496% 36.60607986722188%,
      6.698729810778062% 25.000000000000014%,
      22.23263308980676% 28.693349984694787%,
      19.947961799571715% 19.947961799571747%,
      28.69334998469477% 22.232633089806775%,
      24.99999999999998% 6.698729810778083%,
      36.60607986722184% 17.664216362104973%,
      39.00019058314284% 8.948152382714603%,
      45.43158327229816% 15.299429851916642%,
      49.99999999999999% 0%,
      54.568416727701795% 15.299429851916635%,
      60.99980941685711% 8.94815238271459%,
      63.39392013277812% 17.66421636210496%,
      74.99999999999997% 6.6987298107780475%,
      71.3066500153052% 22.23263308980675%,
      80.05203820042826% 19.947961799571722%,
      77.76736691019323% 28.69334998469477%,
      93.30127018922192% 24.99999999999998%,
      82.33578363789502% 36.60607986722184%,
      91.0518476172854% 39.00019058314283%,
      84.70057014808336% 45.43158327229816%
    );
    shape-outside: $polygon;
    clip-path: $polygon;
  }
  50% {
    $polygon: polygon(
      84.70057014808336% 54.5684167277018%,
      91.0518476172854% 60.99980941685713%,
      82.33578363789503% 63.39392013277814%,
      93.30127018922194% 75%,
      77.76736691019323% 71.30665001530522%,
      80.05203820042827% 80.05203820042827%,
      71.30665001530522% 77.76736691019323%,
      75% 93.30127018922192%,
      63.39392013277814% 82.33578363789503%,
      60.99980941685714% 91.0518476172854%,
      54.56841672770181% 84.70057014808336%,
      50% 100%,
      45.4315832722982% 84.70057014808336%,
      39.000190583142874% 91.0518476172854%,
      36.606079867221865% 82.33578363789505%,
      25.00000000000001% 93.30127018922194%,
      28.693349984694787% 77.76736691019323%,
      19.947961799571733% 80.05203820042827%,
      22.23263308980677% 71.30665001530522%,
      6.698729810778076% 75.00000000000001%,
      17.664216362104966% 63.39392013277815%,
      8.948152382714603% 60.99980941685715%,
      15.299429851916635% 54.568416727701816%,
      0% 50.00000000000001%,
      15.299429851916635% 45.431583272298205%,
      8.94815238271459% 39.00019058314288%,
      17.66421636210496% 36.60607986722188%,
      6.698729810778062% 25.000000000000014%,
      22.23263308980676% 28.693349984694787%,
      19.947961799571715% 19.947961799571747%,
      28.69334998469477% 22.232633089806775%,
      24.99999999999998% 6.698729810778083%,
      36.60607986722184% 17.664216362104973%,
      39.00019058314284% 8.948152382714603%,
      45.43158327229816% 15.299429851916642%,
      49.99999999999999% 0%,
      54.568416727701795% 15.299429851916635%,
      60.99980941685711% 8.94815238271459%,
      63.39392013277812% 17.66421636210496%,
      74.99999999999997% 6.6987298107780475%,
      71.3066500153052% 22.23263308980675%,
      80.05203820042826% 19.947961799571722%,
      77.76736691019323% 28.69334998469477%,
      93.30127018922192% 24.99999999999998%,
      82.33578363789502% 36.60607986722184%,
      91.0518476172854% 39.00019058314283%,
      84.70057014808336% 45.43158327229816%,
      100% 50%
    );
    shape-outside: $polygon;
    clip-path: $polygon;
  }
  100% {
    $polygon: polygon(
      91.0518476172854% 60.99980941685713%,
      82.33578363789503% 63.39392013277814%,
      93.30127018922194% 75%,
      77.76736691019323% 71.30665001530522%,
      80.05203820042827% 80.05203820042827%,
      71.30665001530522% 77.76736691019323%,
      75% 93.30127018922192%,
      63.39392013277814% 82.33578363789503%,
      60.99980941685714% 91.0518476172854%,
      54.56841672770181% 84.70057014808336%,
      50% 100%,
      45.4315832722982% 84.70057014808336%,
      39.000190583142874% 91.0518476172854%,
      36.606079867221865% 82.33578363789505%,
      25.00000000000001% 93.30127018922194%,
      28.693349984694787% 77.76736691019323%,
      19.947961799571733% 80.05203820042827%,
      22.23263308980677% 71.30665001530522%,
      6.698729810778076% 75.00000000000001%,
      17.664216362104966% 63.39392013277815%,
      8.948152382714603% 60.99980941685715%,
      15.299429851916635% 54.568416727701816%,
      0% 50.00000000000001%,
      15.299429851916635% 45.431583272298205%,
      8.94815238271459% 39.00019058314288%,
      17.66421636210496% 36.60607986722188%,
      6.698729810778062% 25.000000000000014%,
      22.23263308980676% 28.693349984694787%,
      19.947961799571715% 19.947961799571747%,
      28.69334998469477% 22.232633089806775%,
      24.99999999999998% 6.698729810778083%,
      36.60607986722184% 17.664216362104973%,
      39.00019058314284% 8.948152382714603%,
      45.43158327229816% 15.299429851916642%,
      49.99999999999999% 0%,
      54.568416727701795% 15.299429851916635%,
      60.99980941685711% 8.94815238271459%,
      63.39392013277812% 17.66421636210496%,
      74.99999999999997% 6.6987298107780475%,
      71.3066500153052% 22.23263308980675%,
      80.05203820042826% 19.947961799571722%,
      77.76736691019323% 28.69334998469477%,
      93.30127018922192% 24.99999999999998%,
      82.33578363789502% 36.60607986722184%,
      91.0518476172854% 39.00019058314283%,
      84.70057014808336% 45.43158327229816%,
      100% 50%,
      84.70057014808336% 54.5684167277018%
    );
    shape-outside: $polygon;
    clip-path: $polygon;
  }
}

.animation {
  animation: clip 8s ease-in-out infinite alternate-reverse;
}
